
{% load static %}
{% block content %}
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vac_site.css' %}">


</head>

<body>
  <table>
    <thead>

      <tr>
        <th>No</th>
        <th>Positive feel</th>
        <th>Positive  body effects</th>
        <th>Reports treat disease</th>
        <th>Reports positive experience</th>
        <th>Update</th>
        <th>Remove</th>

       <!--  <th>Vaccines Available</th> -->
      <!--   <th>Vaccines Sites</th>
        <th>Vaccines Date and Time</th> -->
      </tr>
    </thead>
    <tbody>
      {% for vac in vac_positive_effects %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{vac.Vaccination_Effects_Felt}}</td>
        <td>{{vac.Vaccination_Effects_Body_Felt}}</td>
        <td>{{vac.Positive_effects_one}}</td>
        <td>{{vac.Positive_effects_two}}</td>
        <td><a href="{% url 'edit_pos_effects' vac.id %}">Update</a></td>
         <td><a href="{% url 'delete_pos_effects' vac.id %}">Delete</a></td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <div class="sbp">
    <span class="step-links">
        {% if vac_positive_effects.has_previous %}
            <a href="?page=1">&lAarr; First</a>
            <a href="?page={{ vac_positive_effects.previous_page_number }}">Previous Reg table</a>
        {% endif %}

        <span class="current">
            Page {{vac_positive_effects.number }} of {{ vac_positive_effects.paginator.num_pages }}.
        </span>

        {% if vac_positive_effects.has_next %}
            <a href="?page={{ vac_positive_effects.next_page_number }}">Next</a>
            <a href="?page={{ vac_positive_effects.paginator.num_pages }}">Last Page &rAarr;</a>
        {% endif %}
    </span>
</div>
</body>
{% endblock %}