

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mukta, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: $clr-gray500;
  font-size: 0.5rem;
  background-color:lightskyblue;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px $clr-gray300;
  background-color: white;
  text-align: left;
  overflow: hidden;
}
  thead {
    box-shadow: 0 5px 10px $clr-gray300;
  }

  th {
   /* padding: 1rem 2rem;*/
    padding: 1px 2px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }

  a {
    text-decoration: none;
    color: $clr-link;
  }

  .status {
    border-radius: $radius;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
    &-pending {
      background-color: $clr-pending;
      color: $clr-pending-font;
    }

    &-paid {
      background-color: $clr-paid;
      color: $clr-paid-font;
    }

    &-unpaid {
      background-color: $clr-unpaid;
      color: $clr-unpaid-font;
    }
  }

  .amount {
    text-align: right;
  }

  //Color alternating rows
  tr:nth-child(even) {
    background-color: $clr-gray150;
  }
}
